<app-header [page]="'Album'"></app-header>
<div class="container">
  <div class="content">
    <div class="row album">
      <div class="col-sm-12 col-md-6 header">
        <img src="assets/augustlife-vinyl.jpg"/><br>
      </div>
      <div class="col-sm-12 col-md-6 text"><br>
        <p>
          August Life's album 'New Eternity', the brand new progressive melodic metal project initiated by Gert Nijboer
          and
          Bryan Ketelaars,
          saw the light of day late August 2018. The reactions of fans and press for this brand new outfit were
          overwhelming.<br></p>
        <p>A bunch of great guest musicians and singers participated on NEW ETERNITY a.o. Peter Vink (Ayreon,
          KnightArea),
          Rob van der Loo (Epica, Mayan),
          Madicken de Vries (Heidevolk, Annatar) and the list goes on.<br></p>
        <p>The CD was released worldwide through PT78 records and in 2019 August Life signed with the excellent
          label <b>No Dust Records</b>.</p>
      </div>
    </div>
    <div class="row  flex-column-reverse flex-md-row album">
      <div class="col-sm-12 col-md-6 text"><br>
        <p>
          Musically, 'New Eternity' displays a perfect blend of a stylistic variety across the individual tracks while
          maintaining a unified cohesive lyrical theme.<br></p>
        <p>
          Lyrically the album draws on the observations of Ketelaars on related events that can occur literally
          within seconds of each other.<br></p>
        <p>'Coming Home' for instance is about a
          combatant heading home, 'Angels Of War' about high tech killing ISIS terrorists one by one and the title track
          is about brainwashed religionists.</p>
      </div>
      <div class="col-sm-12 col-md-6 header">
        <iframe src="https://open.spotify.com/embed?uri=spotify%3Aartist%3A0VlP6X9sqgRkcu2slf2HVk" frameborder="0"
                allowtransparency="true" allow="encrypted-media" id="I2" name="I2"
                style="height: 400px; width: 100%;"></iframe>
      </div>
    </div>
  </div>
</div>

