<app-header [page]="'EPK / Media'"></app-header>

<div class="stats container">
  <div class="content">
    <div class="row">
      <div class="col-sm-12 col-md-6 img">
        <img src="assets/press_2019_2.jpg"/><br>
      </div>
      <div class="col-sm-12 col-md-6 text">
<!--        <b>Some AUGUST LIFE facts</b>-->
<!--        <br>-->
        <br><b>August Life</b>, a progressive rock band formed in 2017 in Breda, Netherlands.
        <br><br><b>Members:</b>
        <br>Bryan Ketelaars (vocals)
        <br>Gert Nijboer (guitars)
        <br>Hans in 't Zandt (drums, backing vocals)
        <br>Gerald Vos (keys, guitar, backing vocals)
        <br>Ronald Pieterse (bass guitar, backing vocals)
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="content">
    <div class="row">
      <div class="col">

        <div class="row justify-content-center">
          <div class="col-sm-12 col-md-6">
            <a class="btn btn-outline-danger"
               href="https://www.gertnijboer.com/AUGUST%20LIFE%20biography%202019%20V3.0.pdf" target="_blank">Band
              biography</a>
          </div>
<!--          <div class="col-sm-12 col-md-4">-->
<!--            <a class="btn btn-outline-danger" routerLink="../gigs" routerLinkActive="active">Member bio's</a>-->
<!--          </div>-->
          <div class="col-sm-12 col-md-6">
            <a class="btn btn-outline-danger" href="https://www.gertnijboer.com/new%2002.jpg" target="_blank">Band
              logo</a>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-12 col-md-6">
            <a class="btn btn-outline-danger" href="https://www.gertnijboer.com/AUGUST%20LIFE%20Stageplan%202019.pdf"
               target="_blank">Stage Plan</a>
          </div>
          <div class="col-sm-12 col-md-6">
            <a class="btn btn-outline-danger" href="https://www.gertnijboer.com/AUGUST%20LIFE%20Tech%20Rider%202019.pdf"
               target="_blank">Technical
              rider</a>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-12 col-md-4">
            <a class="btn btn-outline-danger"
               href="https://www.gertnijboer.com/press%202018.jpg" target="_blank">Promo pic 2018</a>
          </div>
          <div class="col-sm-12 col-md-4">
            <a class="btn btn-outline-danger"
               href="https://www.gertnijboer.com/promo%202019%20high%20res%20grey.jpg" target="_blank">Promo pic 2019 (1)</a>
          </div>
          <div class="col-sm-12 col-md-4">
            <a class="btn btn-outline-danger"
               href="https://www.gertnijboer.com/press%202019%202.jpg" target="_blank">Promo pic 2019 (2)</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
