.row {

  .img-thumbnail {
    max-width: 200px;
    padding: 0;
    margin: 10px;
  }

  .back {
    img {
      width: 25px;
      filter: drop-shadow(0px 0px 3px white);
      cursor: pointer;
    }
  }

  a.btn {
    color: #ffffff;

    &.btn-outline-danger {
      border-color: red;

      &:hover {
        background-color: red;
      }
    }

    //border: red 1px solid;
    margin: 5px 0 5px 0;
    width: inherit;
  }
}

.col {
  text-align: center;

  .title {
    width: 100%;
    color: white;
    //opacity: 60%;
    //position: absolute;
    text-align: center;
    padding: 0 0 20px 0;
    font-size: 20px;
    @media (max-width: 400px) {
      font-size: 13px;
    }
  }
}
