<app-header [page]="'Video'"></app-header>

<div class="container">
  <div class="content">

    <div class="row">
      <div class="col video">
        <!-- VIDEO: Dead End @ Breda -->
        <iframe width="560" height="315" src="https://www.youtube.com/embed/JWWPuQu5zIM" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </div>
    <div class="row">
      <div class="col video">
        <!-- VIDEO: Coming Home @ Breda -->
        <iframe width="560" height="315" src="https://www.youtube.com/embed/kNmtJYWoDgQ" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </div>
    <div class="row">
      <div class="col video">
        <!-- VIDEO: Nevermore instrumental -->
        <iframe width="560" height="315" src="https://www.youtube.com/embed/7n9jKB3g6qk" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </div>
    <div class="row">
      <div class="col video">
        <!-- VIDEO: teaser New Eternity -->
        <iframe width="560" height="315" src="https://www.youtube.com/embed/H8X13xyu1Bc" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </div>
    <div class="row">
      <div class="col video">
        <!-- VIDEO: teaser New Eternity -->
        <iframe width="560" height="315" src="https://www.youtube.com/embed/NRvG7Vgpu2A" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </div>
    <div class="row">
      <div class="col video">
        <!-- VIDEO: Turn Back Time rehearsal -->
        <iframe width="560" height="315" src="https://www.youtube.com/embed/J5TZnhRhKpM" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </div>
    <div class="row">
      <div class="col video">
        <!-- VIDEO: Turn Back Time -->
        <iframe width="560" height="315" src="https://www.youtube.com/embed/e2X2AfgBkK4" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
